.button {
    background-color: rebeccapurple;
    color: white;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    border: 0.5px solid white;
}

.inputForm {
    list-style: none;
    margin: 2rem 10rem;
    padding: 0;
    color: black;
    border-radius: 10px 10px;
    background-color: white;
    border: 1px solid white;
}

.formControl {
    margin: 0.5rem 0;
}

.formControl input{
    display: block;
    max-width: 40rem;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    margin: 0.5rem 1rem;
}

.formControl input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }

